<section>
    <div class="section_heading container h-28  max-w-full bg-slate-950 ">
        <div class="container-fluid text-white">
            <h2>
                <div style="width: 100000px; transform: translateX(0px); animation: 17.2357s linear 0s infinite normal none running marqueeAnimation-2938729;"
                    class="js-marquee-wrapper ">
                    <div class="js-marquee  z-40" style="margin-right: 0px; float: left;">about me<span>about
                            me</span>about me<span>about me</span></div>
                    <div class="js-marquee " style="margin-right: 0px; float: left;">about me<span>about
                            me</span>about me<span>about me</span></div>
                </div>
            </h2>
        </div>
    </div>


</section>
<div class="flex flex-wrap items-center mt-3 bg-[url('https://petrix.vercel.app/images/golden_bg.jpg')]">
    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
        <div class=" flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
            <img alt="..." src="https://petrix.vercel.app/images/about_img.png"
                class="w-full align-middle rounded-t-lg" />

        </div>
    </div>
    <div class="w-full lg:w-2/4 md:w-2/4 px-4 mr-auto ml-auto ">
        <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
            <i class="fas fa-user-friends text-xl"><img src="https://petrix.vercel.app/images/about_shapes.png"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading">
            Hello! I’m Vishnu Vardhan. Web designer from Hyderabad ,Telangana,India. I have rich experience in web
            site design and building. I
            love to talk with you about our unique.
        </h3>
        <p class="text-lg font-bold leading-relaxed mt-8 mb-4 text-gray-700">
            <ul class="flex flex-wrap space-x-3items-center">
                <li class="flex flex-wrap items-center" data-trigerid="about">
                  <h2 class="font-bold text-4xl items-center">
                    <span class="counter experience-counter">{{ experienceCount }}</span>+
                  </h2>
                  <p class="flex flex-wrap text-sm items-center font-semibold">Years of experience</p>
                </li>
                <li class="flex flex-wrap items-center" data-trigerid="about">
                  <h2 class="font-bold text-4xl items-center">
                    <span class="counter projects-counter font-bold ">{{ projectsCount }}+</span>
                  </h2>
                  <p class="text-sm items-center font-semibold ">Successful Projects</p>
                </li>
                <li class="flex flex-wrap items-center" data-trigerid="about">
                  <h2 class="font-bold text-4xl items-center">
                    <span class="counter awards-counter">{{ awardsCount }}</span>+
                  </h2>
                  <p class="text-sm items-center font-semibold">Honors and Awards</p>
                </li>
              </ul>
              
              
        
        <div class=" mt-10">
            
            <a href="#" class="bg-yellow-300 rounded-3xl py-3 px-8  text-center items-center font-medium inline-block mr-4 hover:bg-transparent
           hover:border-yellow-300 hover:text-black duration-300 hover:borer border border-transparent hover:bg-white     transform: translateX(0%) translateY(0%);">Download CV <span
                class="text-lg inline-block rotate-90">&#10148;</span></a>
          </div>
      
    </div>

</div>


